
.dashboard-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0px;
  color: #333;
  
}

.no-responses {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

.survey-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 10px;
}

.survey-table thead {
  background-color:  #304052;;
  color: white;
}

.survey-table th, .survey-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.survey-table th {
  font-size: 1rem;
  text-transform: uppercase;
}

.survey-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.survey-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


@media screen and (max-width: 768px) {
  .survey-table {
    width: 100%;
    font-size: 0.9rem;
  }

  .survey-table th, .survey-table td {
    padding: 8px;
  }
}
